<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're ticket has been successfully booked, <%= @passenger.name %>!</h1>
    <p>
      Yay!<br>
    </p>
    <p>Thanks for flying with us!</p>
  </body>
</html>
