// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#flight-confirm {
    border: 1px solid black;
    margin: auto;
    width: 60%;
    padding: 20px;
    .conf-div {
        margin: 15px 0px;
    }
    form {
        text-align: left;
    }
}

h1 {
    text-align: center;
}